.ag-layout-auto-height .ag-center-cols-container,
.ag-layout-auto-height .ag-center-cols-viewport,
.ag-layout-print .ag-center-cols-container,
.ag-layout-print .ag-center-cols-viewport {
  min-height: 0;
}